html{
	margin: 0;
	padding: 0;
	border: 0;
}


a {
    text-decoration: none;
}


body {
	font-family: 'Darker Grotesque', sans-serif;
	color: black;
}	

.background {
    background: url(images/background.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	min-height: 8000px;
}