section.section-five {
    margin-top: 2%;
    margin-bottom: 2%;
	width: 96%;
    margin-left: 2%;
}

section.section-five div.table {
    display: table;
    width: 100%;


    border: 2px solid #88888888;
}

section.section-five div.table .item {
    width: 50%;
    float: left;
}

section.section-five div.table .item img {
    width: 100%;
    border-right: 2px solid #88888888;
}

section.section-five div.table .item p.title {
    font-family: Syncopate, sans-serif;
    font-size: 210%;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    border-bottom: 2px solid #88888888;
}